<div class="signup">
    <h4>Want more?</h4>
    <p>Use the form below to signup for our mailing list to receive high-quality software
    developer resume and other job application advice free of charge.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://debugmyresume.us18.list-manage.com/subscribe/post?u=685f8cfd8dca009adff0740ee&amp;id=330f01cafe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_685f8cfd8dca009adff0740ee_330f01cafe" tabindex="-1" value=""></div>
            <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL"><input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="button">
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
        </div>
    </form>
    </div>
</div>
